<div class="center jumbotron">
  <h1>Free Lunch</h1>
  
  <%= link_to image_tag("logo.jpg", alt: "Free Lunch Logo", class: "style_logo"),
            root_path %>

  <h2>
     All your groceries delivered to your doorstep, by just the click of a button!
  </h2>

  <%= link_to "Sign Up!", signup_path, class: "btn btn-lg btn-primary" %>
</div>