<% provide(:title, "Recipe") %>

<table class = "content_table">
  <thead>
    <h1>Popular Recipes</h1>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <div>
        <div>
            <ul class = "content_row">
               <li><%= link_to fetch_image_tag(recipe.image_url, :width => 200, 
              :height => 200), 
              method: :get %></li>
              <li><%= recipe.name %></li>
              <li><%= recipe.taste %></li>
            </ul>
        </div>
      </div>
    <% end %>
  </tbody>
</table>