<% provide(:title, "recipe") %>
<h1>About Us</h1>
<p>
    -recipe
</p>
<p>
    - Users can choose products from stores around their home.
</p>
<p>
    - Users can order items based on the ingredient list of recipes and can keep a list of favorite recipes.
</p>
<p>
    - The system can provide suggested recipes and products based on their order history
</p>
<p>
    - The system can automatically suggest recipes based on users’ favourite
</p>