<% provide(:title, @user.username) %>

<table class = "content_table">
  <thead>
    <h1>Select a Store</h1>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <div>
        <div>
            <ul class = "content_row">
              <li><%= link_to fetch_image_tag(store.image_url, :width => 200, 
              :height => 200), store, 
              method: :get %></li>
              <li><%= store.name %></li>
              <li><%= store.address %></li>
            </ul>
        </div>
      </div>
    <% end %>
  </tbody>
</table>