<!-- ******FOOTER****** --> 
<footer class="footer">
  <div class="container text-center">
    <small class="copyright">Copyright &copy 2015 grocerBot</small>
  </div><!--//container-->
</footer><!--//footer-->